@import '../../../../styles/variables';

.empty-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;

  img {
    display: initial;
    max-width: 18.75rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $secondary;
  }
}
